'scopeName': 'source.c0'
'name': 'C0'
'fileTypes': ['c0']
'patterns': [
  {
    'match': '\\b[0-9]+\\b'
    'name': 'constant.numeric.c0'
  }
  {
    'match': '\\b(int|bool|char|string|void|typedef|struct)\\b'
    'name': 'support.storage.type.c0'
  }
  {
    'match': '\\b(if|else|for|while|return|break|continue|assert|error)\\b'
    'name': 'keyword.control.c0'
  }
  {
    'match': '\\b(true|false|NULL|alloc|alloc_array)\\b'
    'name': 'constant.language.boolean.c0'
  }
  {
    'match': '@requires|@ensures|@loop_invariant'
    'name': 'variable.other.c0'
  }
  {
    'match': '\\\length'
    'name': 'variable.other.c0'
  }
  {
    'match': '#use'
    'name': 'keyword.other.import.c0'
  }
  {
    'match':'\"([^\"]*)\"'
    'name':'string.quoted.double.c0'
  }
  {
    'match':'\<([^\>]*)\>'
    'name':'string.quoted.double.c0'
  }
  {
    'match':'^(?!.*@).*\/\/.*$'
    'name':'comment.block.c0'
  }
  {
    'match':'\\/\\*@.*?\@\*\\/ ?'
    'name':'source.c0'
  }
  {
    'captures':
      '1':
        'name': 'variable.other.c0'
      '2':
        'name': 'comment.block.c0'
    'match': '@requires|@ensures|@loop_invariant(\/\/(.*))'
    'name': 'entity.name.instance.c0'
  }
  {
    'begin': '{'
    'beginCaptures':
      '0':
        'name': 'meta.brace.curly.c0'
    'end': '}'
    'endCaptures':
      '0':
        'name': 'meta.brace.curly.c0'
    'patterns': [
      {
        'include': '$self'
      }
    ]
  }
  {
    'begin': '\\('
    'beginCaptures':
      '0':
        'name': 'meta.brace.round.c0'
    'end': '\\)'
    'endCaptures':
      '0':
        'name': 'meta.brace.round.c0'
    'patterns': [
      {
        'include': '$self'
      }
    ]
  }
  {
    'begin': '\\<'
    'beginCaptures':
      '0':
        'name': 'meta.brace.round.c0'
    'end': '\\>'
    'endCaptures':
      '0':
        'name': 'meta.brace.round.c0'
    'patterns': [
      {
        'include': '$self'
      }
    ]
  }
]